body {
	background: url(../images/bg18.jpeg) no-repeat center center fixed; 
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: 'Open Sans', sans-serif;

}
/* first */
h1 {
	color: white;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 0;
	font-family: verdana;
	
}
h2 {
	color: yellow;
	font-size: 18px;
	margin-top: 0;
	font-family: 'Merriweather Sans', sans-serif;

}
.bio {
	color: white;
	font-size: 16px;
	background-color: rgb(128,128,128);
	border: 1px solid;
	padding: 10px;
	box-shadow: 5px 10px;
}
/* Fourth */
.me {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;
}
.about {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}